{% extends 'website/base.html' %}

{% block content %}
    <div class="business-container">
        <div class="business-info">
            <h3>Our Business</h3>
            <br>
            <h4>phonenumber:</h4>
            <h4>email:</h4>
            <h4>address:</h4>
            <br>
            <a href="https://www.facebook.com/restylehairstudio/?locale=en_GB">Facebook</a>
            <a href="https://www.instagram.com/restyle_worksop/">Instagram</a>
        </div>
    </div>
    
{% endblock %}