{% extends 'website/base.html' %}

{% block content %}
<div class="reviews-page">

    <h2 class="reviews-title">Customer Reviews</h2>

    <!-- Google Reviews (Elfsight widget) -->
    <div class="reviews-widget">
        <!-- Elfsight Google Reviews | Untitled Google Reviews -->
        <script src="https://elfsightcdn.com/platform.js" async></script>
        <div class="elfsight-app-b095af7c-e848-4eed-9bb3-33d5ac9404e8" data-elfsight-app-lazy></div>
    </div>

    <div class="review-action">
        <a href="https://www.google.com/maps/place/Restyle+hair+studio/@53.302649,-1.1204559,17z/data=!4m8!3m7!1s0x4879a15438b81cdb:0x4ff94fc2b1568256!8m2!3d53.302649!4d-1.117881!9m1!1b1!16s%2Fg%2F1hc180l4m?entry=ttu&g_ep=EgoyMDI2MDQyNi4wIKXMDSoASAFQAw%3D%3D">
            Leave a Google Review
        </a>
    </div>

    

</div>
{% endblock %}