{% load static %}

<nav class="navbar restyle_navbar">
    <a class="navbar-brand " href="{% url '' %}">
        restyle
    </a>
    <li class="nav-item">
        <a href="{% url 'products' %}">products &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'blogs' %}">Blog &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'reviews_page' %}">Reviews &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
    </li>

    {% if user.is_superuser %}

    <li class="nav-item">
        <a href="{% url 'make_BandA' %}">M-BandA &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'make_blog' %}">M-Blog &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'make_products' %}">M-Product &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
    </li>

    {% endif %}
</nav>